body {
    background-color: #AFD4E2;
    display: block;
    color: #1E3240;
    font-family: 'Mulish', sans-serif;
}

html {
    scroll-behavior: smooth;
}

img{
    max-width: 80%; 
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

.btn {
    color: white;
    background-color: #1E3240;
    width: 350px;
    margin-top: 5px;
}

input:placeholder-shown {
    font-style: italic;
}

.section{
    padding: 4.5rem 0 2rem;
}

.section__title{
    text-align: center;
}

.about__data{
    text-align: center;
}

.project__data{
    text-align: center;
}

.contact__data{
    text-align: center;
}

/* leaflet css */
#mapid {
    height: 400px;
    width: 375px
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }